html body {
    margin: 0%;
}
#fundo {
    background-color: orange;
    height: 100%;
    text-align: center;
    margin: 0%;
}
#titulo {
    color: white;
    padding: 50%, 10%;
    display: inline;
    font-size: 60px; 
}
#subtitulo {
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 40px;
    margin: 0%;
}
h3 {
    font-size: 30px;
    text-align: center;
}
p {
    text-align: justify;
    width: 90%;
    padding: 10%;
}
section {
    display: inline-flex;
}
.imagem1 img {
    width: 100%;
    float: left;
    height: 50%;
}